  <div id="footer" >
    <div class="lower_footer">
      <ul class="footer-cell">
        <li><a href="https://bytecoin.org">Based on Bytecoin</a></li>
        <li><a href="https://cryptonote.org">Cryptonote technology</a></li>
      </ul>

      <span class="footer-cell">
        <a href="http://forknote.net/" class="mega-octicon forknote-small"></a>
      </span>

      <ul class="footer-cell">
        <li><a href="https://github.com/forknote/forknote">Source code</a></li>
        <li><a href="https://twitter.com/forknote_dev">Twitter</a></li>
        <li><a href="https://bitcointalk.org/index.php?topic=1079306.0">Bitcointalk</a></li>
      </ul>
    </div>

    <div class="wrapper">
      <p><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a></p>
    </div>

  </div><!-- /#footer -->

  <script src="/js/retina.js" type="text/javascript"></script>