<div id="header-wrapper">
  <div id="header">
    <div>
      <a class="logo" href="/">Forknote</a>
      <ul class="nav">
        <li><a href="/download/" class="nav-download">Download</a></li>
        <li><a href="/create/" class="nav-create">Create</a></li>
        <li><a href="/documentation/" class="nav-developers">Documents</a></li>
        <li><a href="/blog/" class="nav-blog">Blog</a></li>
        <li><a href="/contact/" class="nav-contact">Support</a></li>
        <li id="search-container">
          <input type="text" id="searchfield" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" /><label class="search-placeholder">Search</label>
          <div class="cancel-search"></div>
          <ul id="search-results">

          </ul>
        </li>
      </ul>
    </div>
  </div><!-- #header -->
</div><!-- #header-wrapper -->
