      <div class="sidebar-module">
        <ul>
          <li><h3><a href="/guides/">Getting started</a></h3></li>
          <li><h3><a href="/guides/setup-private-blockchain/">Setup new blockchain</a></h3></li>
          <li><h3><a href="/guides/starting-seed-node/">Starting seed node</a></h3></li>
          <li><h3><a href="/guides/genesis-coinbase-transaction-creation/">Genesis coinbase transaction creation</a></h3></li>
          <li><h3><a href="/guides/troubleshooting/">Troubleshooting</a></h3></li>
        </ul>
      </div>