      <div class="js-toggle-list sidebar-module expandable">
        <ul>
          <li><h3><a href="/documentation/">Overview</a></h3></li>
          <li class="js-topic">
            <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/documentation/daemon/" title="forknote daemon configuration and commands">Daemon</a></h3>
            <ul class="js-guides">
              <li><a href="/documentation/daemon/html-rpc-api/">HTTP RPC API</a></li>
              <li><a href="/documentation/daemon/json-rpc-api/">JSON RPC API</a></li>
            </ul>
          </li>
          <li class="js-topic">
            <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/documentation/simplewallet/" title="forknote simplewallet configuration and commands">Simplewallet</a></h3>
            <ul class="js-guides">
              <li><a href="/documentation/simplewallet/json-rpc-api/">JSON RPC API</a></li>
            </ul>
          </li>
          <li class="js-topic">
            <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/documentation/payment-gateway/">Payment gateway</a></h3>
            <ul class="js-guides">
              <li><a href="/documentation/payment-gateway/json-rpc-api/">JSON RPC API</a></li>
            </ul>
          </li>

          <li class="js-topic">
            <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/documentation/cryptonote-generator/">Cryptonote generator</a></h3>
            <ul class="js-guides">
              <li><a href="/documentation/cryptonote-generator/extensions/">Extensions</a></li>
              <li><a href="/documentation/cryptonote-generator/forknote/">Forknote</a></li>
            </ul>
          </li>
        </ul>
      </div>